.home {
}

.wrap_trending_movies{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.title-slicker{
    margin: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.btn-viewMore{
    color:#fff;
    transition: ease-in 0.3s;
    font-weight: 700;
}
.link{
    text-decoration: none;
    color: #fff;
    transition: ease-in 0.3s;
}
.btn-viewMore:hover{
    background-color: #fff;
    cursor: pointer;
}
.btn-viewMore:hover .link{
    color:#ff0700c7;
}
.slick-list {margin: 0 0 0 -1rem;}
.slick-slide>div {padding: 0 0 0 1rem;}